.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  size: 30px;
  margin-left: 0px;
}
header {
  display: flex;
  background-color: lightgray;
  justify-content: center;
  gap: 300px;
}
heading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}
nav{
     background-color:lightgray; 
    text-align: center;
    padding: 12 px 0;

}
nav a{text-decoration: none;
color: black;
margin:0 20px;
font-weight: 600;
font-size: 18px;
letter-spacing: 0.5px;}

    
    

nav a:hover {
    color: black;
    text-decoration: underline;
}
body{color: black;
background-color: thistle;}
.main1{
    width: 400px;height: 400px;
    gap: 100px;
    margin-left: 100px;
}
.main2{
    width: 400px;height: 400px;
    gap: 100px;
    margin-left: 100px;
}
.main3{
    width: 400px;height: 400px;
    gap: 100px;
    margin-left: 300px;
}
.bio{width: 150px;height: 150px;border-radius: 50%;margin-left: 100px;}
footer{ display:flex;background-color:lightgray;padding:0;text-align:center;margin:0 auto;justify-content:center}

